body {
	background: #171717;
}


.Logo, .Top_menu {
  display: inline-block;
  margin-right: 60px;
 vertical-align: middle;
}

.Top_menu li {
  display: inline-block;
}

header { 
border-radius: 40px;
display: flex; 
justify-content: center;
background: #121215;
font-size: 10px;
box-shadow: 1px 5px 20px;
 }

 .Top_menu a{ 
 transition: 0.3s;
 font-family: arial;
 font-size:  38px; 
 color: white;
 margin-right: 50px;
 vertical-align: middle;
 text-decoration: none;
 font-family: Comic Sans MS;

}


.Top_menu a:hover {
  transition: 0.3s;
  color: #6031f7;
  text-shadow: 1px 1px 5px blue;
}


.Logo img {
	border-radius: 10px;
	width: 80px;
	height: 80px;

}


.plakat h1 {
	color: #8803fc;
	font-size: 40px;
	font-family: Comic Sans MS;
	padding-top: 20px;
	text-shadow: 1px 1px 1px black;
}


.plakat img {
   width: 300px;
   height: 350px;
   margin-top: 15px;
   margin-right: 15px;
   margin-left: 15px;
}

.plakat b {
	font-size: 30px;
	padding-top: 15px;
	font-family: Comic Sans MS;
	color: white;
	text-shadow: 1px 1px 10px black;
}


.plakat {
	margin-top: 120px;
	  box-shadow: inset 0 0 12px 8px rgba(0,0,0,.6);
	width: 60em;
	background: rgba(209, 209, 209, 0.4); 
	border-radius: 100px;
}

.time img {
 width: 300px;
   height: 350px;
   margin-top: 15px;
   margin-right: 15px;
   margin-left: 15px;
}


.time b {
		font-size: 30px;
	padding-top: 15px;
	font-family: Comic Sans MS;
	color: white;
	text-shadow: 1px 1px 10px black;
}



.time h1 {
color: #8803fc;
	font-size: 40px;
	font-family: Comic Sans MS;
	padding-top: 20px;
	text-shadow: 1px 1px 3px black;}

.time {
	margin-top: 120px;
	  box-shadow: inset 0 0 12px 8px rgba(0,0,0,.6);
	width: 60em;
	background: rgba(209, 209, 209, 0.4); 
	border-radius: 100px;
}




.play {
		margin-top: 120px;
	width: 60em;
	background: rgba(209, 209, 209, 0.4); 
	  box-shadow: inset 0 0 12px 8px rgba(0,0,0,.6);
	border-radius: 100px;

}

.play h1 {
	color: #8803fc;
	font-size: 40px;
	font-family: Comic Sans MS;
	padding-top: 20px;
	text-shadow: 1px 1px 3px black;

}


.play img {
	 width: 300px;
   height: 350px;
   margin-top: 15px;
   margin-right: 15px;
   margin-left: 15px;
}


.play b {
		font-size: 30px;
	padding-top: 15px;
	font-family: Comic Sans MS;
	color: white;
	text-shadow: 1px 1px 10px black;
}




.end h1 {
	color: #8803fc;
	font-family: Comic Sans MS;
	font-size: 50px;
	text-shadow: 1px 1px 3px blue;
}

.end b {
	color: #7000d1; 
	font-family: Comic Sans MS;
	font-size: 30px;
	text-shadow: 1px 1px 3px black;
}


.doend h1 {
	transition: 0.3s;
	margin-top: 100px;
	font-family: Comic Sans MS;
	color: white;
	text-shadow: 1px 1px 10px black;
}

.doend h1:hover {
	transition: 0.3s;
	color: red;
}


.doend a {
	text-decoration: none;
}



.endo h3 {
	font-size: 100px;
	color: white;
	text-shadow: 1px 1px 10px blue;
	font-family: Comic Sans MS ;
}


